{# Used by upload, login in views.py #}

{% extends "levels/base.html" %}
{# todo: load dfextras #}

{% block content %}

<!-- <p><b>VERY SHORT TERMS OF SERVICE</b></p> -->

<p>You agree not to do anything mean or illegal while using this service.</p>

<p>While you are using the service I agree not to do anything mean or illegal to you, although I cannot guarantee the service will be safe or functional.</p>

<p>If you upload content, like levels, to the service, you are giving me the right to redistribute that content to other users free of charge.</p>

<p><b>PRIVACY</b></p>

<p>While you are using the service, I may collect information about you, including your IP address, email address and phone ID. This information will be used only to improve the service.</p>

{% endblock %}